.card-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px 25px 25px 25px;
  background: $offWhite;
  border-radius: 10px;
  border-top: 2px solid $green;
  border-bottom: 2px solid $green;
}
