.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;

  td, th {
    border: 1px solid #CCC;
    padding: 5px;
  }

  th {
    background: $gray;
    text-align: left;
  }

  .text-right span {
    float: left;
    margin-right: 7px;
  }
}
