a {
  color: $brandPrimary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h2 {
  font-size: 16pt;
}

h1, h2, h3, h4, h5, h6, p, a, td, th {
  font-family: Helvetica, sans-serif;
}

.table {
  font-size: 10pt;
}
