<h2>Show Student</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @student.name %>
  </li>

</ul>

<span><%= link "Edit", to: student_path(@conn, :edit, @student) %></span>
<span><%= link "Back", to: student_path(@conn, :index) %></span>
